<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/foundation-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <title>{% block title %}Anovelmous{% endblock %}</title>
  </head>
  <body>
  <p>Welcome to Anovelmous!</p>

  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script type="text/javascript">
    $(document).foundation();
  </script>
  </body>
</html>