{% extends 'layout.html' %}

{% block content %}
<div class="large-12 medium-12 small-12 columns">
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title">Anovelmous</h1>
        </section>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Let's write together.</label></li>
          <li><a href="#">Contribute <i class="fi-page-edit"></i></a></li>
          <li class="has-submenu"><a href="#">Table of Contents<i class="fi-book"></i></a>
            <ul class="left-submenu">
              <li class="back"><a href="#">Back</a></li>
              {% for chapter in novel_chapters %}
                <li><a href="#">{{ chapter.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="has-submenu"><a href="#">Account</a>
            <ul class="left-submenu">
              <li class="back"><a href="#">Back</a></li>
              <li><a href="#">Stats</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </li>
          <li><a href="#">Archive<i class="fi-torso"></i></a></li>
        </ul>
      </aside>

      <section class="main-section">
        {% if current_chapter_tokens %}
          <p>
        {% for story_token in current_chapter_tokens %}
          {{ story_token.token }}
        {% endfor %}
          </p>
        {% endif %}
        <div class="large-10 medium-10 small-8 columns">
          <div class="row">
            <form>
              <input id="vote" type="search">
            </form>
          </div>
        </div>
      </section>

    <a class="exit-off-canvas"></a>

    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

  $(document).ready(function () {
    check_for_new_vote_suggestions();
  });

  function check_for_new_vote_suggestions() {
    $.getJSON('api/token?results_per_page=10000').done(function (available_tokens) {
      populate_suggestions(available_tokens)
    });
  }

  function populate_suggestions(available_tokens) {
    console.log(available_tokens);
    $('#vote').autocomplete({
      source: available_tokens
    });
  }
</script>
{% endblock %}