<html>
  <head>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bower_components/foundation/css/foundation.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='bower_components/foundation-icons/foundation_icons_general/stylesheets/general_foundicons.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bower_components/jquery-ui/themes/mint-choc/jquery-ui.css') }}">
    <title>{% block title %}Anovelmous{% endblock %}</title>
    {% block css %}{% endblock %}
  </head>
  <body>
  {% block content %}{% endblock %}

  <script type="text/javascript"
          src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='bower_components/foundation/js/foundation.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
  <script type="text/javascript">
    $(document).foundation();
  </script>
  {% block javascript %}{% endblock %}
  </body>
</html>